<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @situation.name %>
</p>

<p>
  <strong>Icon:</strong>
  <%= @situation.icon %>
</p>

<p>
  <strong>Image:</strong>
  <%= @situation.image %>
</p>

<%= image_tag @situation.image %>

<% @recipes.each do |recipe| %>
  <% arr = [] %>
  <%arr =+ recipe.recipe_id %>
  <%= arr %>
<% end %>

<%= link_to 'Edit', edit_situation_path(@situation) %> |
<%= link_to 'Back', situations_path %>
