<p id="notice"><%= notice %></p>

<p>
  <strong>Recipe:</strong>
  <%= @recipe_situation.recipe_id %>
</p>

<p>
  <strong>Situation:</strong>
  <%= @recipe_situation.situation_id %>
</p>

<%= link_to 'Edit', edit_recipe_situation_path(@recipe_situation) %> |
<%= link_to 'Back', recipe_situations_path %>
