<!-- サイドバー -->
   
      <div class="left">
        <ul class='menu-wrapper'> 
        <li class="menulist"> <img src="cuppy_logo_big.png" width="155" height="77" /></li> 
      <li class="menulist">   <a href="/myaccount">Home</a></li>
     <li class="menulist"><a href="/myaccount">My Cups</a></li>
     <li class="menulist">   <a href="/myaccount">My Follows</a></li>
     <li class="menulist"><a href="/home">Situation list</a></li>
     <li class="menulist">   <a href="/myaccount">Log in</a></li>
     <li class="menulist"><%= link_to "Log out", signout_path,method: :delete %></li>
      </div>


<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

    <% end %>

    <p>

New user? 

<a herf= signup_path>

Sign up now!

</a> 
</p>
  </div>
</div>



<div class='main'>

<div class='login'>

<form method="get" action="/sessions/new">

     <div id='login-wrapper'><h4 class='userregister'>Sign in</h4></div>
         <div class='form'>
             <input type="text" id="customer_ID" name="customer[ID]" required="required" class="custom-field" placeholder="ID" />
                
                
          <input type="password" id="customer_password" name="customer[password]" required="required" class="custom-field" placeholder="パスワード" />
          <p></p>
     </div>
      <%= button_to 'Signin', recipes_path, :class => "button", :method => :get  %><br />
          
</div>

<div class='alreadyuser'><a href="/ddk”>Sign up now!</a></div>
</html>   

