<!-- サイドバー -->
<div class="left">
  <ul class='menu-wrapper'> 
    <li class="menulist"><%= link_to image_tag("cuppylogo_font.png", :width => "155", :height => "77"), home_index_path %></li>
    <li class="menulist"><%= link_to "HOME", home_index_path %></li>
    <li class="menulist"><%= link_to "My Cups", users_path %></li>
    <li class="menulist"><%= link_to "Situation list", situations_path %></li>
    <li class="menulist"><%= link_to "Log in", signin_path %></li>
    <li class="menulist"><%= link_to "Log out", signout_path,method: :delete %></li>
  </ul>
</div>



<div class="contents">
<!--背景画像-->
    <img src="/assets/login_background.png"  class="lognin_background" />
<!--レシピ中身-->
    <div class='login'>

     <div class='form'>
      <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.text_field :email, :placeholder  => "メールアドレス"%>
      <%= f.password_field :password, :placeholder  => "パスワード"%>
      <% end %>
     </div>
    <div class='registerbutton'><%= button_to 'ログイン', recipes_path, :class => "button", :method => :get  %><br /></div>
    </form>  
    <div class='alreadyuser'><a href="/ddk">新規会員登録はこちら</a></div>
</div>


