

<% provide(:title, "Sign in") %>
<h1>Sign in</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
      <%= button_to 'Signin', recipes_path, :class => "button", :method => :get  %><br />
    <% end %>

    <p>

New user? 

<a herf= signup_path>

Sign up now!

</a> 
</p>
  </div>
</div>
<div class='main'>

<div class='login'>
     <div id='login-wrapper'><h4 class='userregister'>Sign in</h4></div>
         <div class='form'>
             <input type="text" id="customer_ID" name="customer[ID]" required="required" class="custom-field" placeholder="ID" />
                
                
          <input type="password" id="customer_password" name="customer[password]" required="required" class="custom-field" placeholder="パスワード" />
          <p></p>
     </div>
           <div class='registerbutton'><input type="image" src="cuppy_register_button.png" alt="登録"></div>
          
</div>

<div class='alreadyuser'><a href="/ddk”>Sign up now!</a></div>


</body>
</html>   

