<h1>Recipes list / Home</h1>

<table>
  <thead>
    <tr>
      <th>Cuあppy</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= recipe.title %></td>
        <%= render 'cookeds/cooked_btn', recipe: recipe %>
        <td><%= link_to 'Show', recipe %></td>
        <td><%= link_to 'Edit', edit_recipe_path(recipe) %></td>
        <td><%= link_to 'Destroy', recipe, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
   
    <% @situations.each do |situation| %>
      <tr>
        <td><%= link_to image_tag(situation.icon, :class => "icon"), situation_path(situation.id) %></td>
      </tr>
    <% end %>

    <%= link_to 'Situations List', situations_path %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path %>
