<!-- サイドバー -->
<div class="left">
  <ul class='menu-wrapper'>
    <li class="menulist"><%= link_to image_tag("cuppylogo_font.png", :width => "155", :height => "77"), home_index_path %></li>
    <li class="menulist"><%= link_to "HOME", home_index_path %></li> 
    <li class="menulist"><%= link_to "My Cups", users_path %></li>
    <li class="menulist"><%= link_to "Situation list", situations_path %></li>
    <li class="menulist"><%= link_to "Sign in", signin_path %></li>
    <li class="menulist"><%= link_to "Sign up", signup_path %></li>
  </ul>
</div>

<div class="right">
<!-- 検索バー -->
<div class="searchbar">
  フリーワードで検索する
<%= search_form_for @search do |f| %>
  <%#= f.label :title_cont %>
  <%= f.text_field :title_cont, :class => "textBox" %>
    <%= f.submit '検索', :class => "btn" %>
  <% end %>
</div>

<ul>
  <% @recipe_photos.each do |recipe_photo| %>
  <li><%= link_to image_tag(recipe_photo.title, :width => "200px", :height => "200px", :padding => "10px"), recipe_path(recipe_photo.id) %></li>
  <% end %>
</ul>
   
<br>

<%= link_to 'New Recipe', new_recipe_path %>

</div>
