<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @recipe.title %><br>
  <%= image_tag @recipe_photos.title, :class => "photo" %><br>
  <%= @recipe.material %><br>
  <strong>Step:</strong><br>
  <% @steps.each do |step| %>
    <%= step.step %><br>
  <% end%>
</p>

<%= link_to 'Edit', edit_recipe_path(@recipe) %> |
<%= link_to 'Back', recipes_path %>
