<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<!-- サイドバー -->
<div class="left">
        <ul class='menu-wrapper'> 
          <li class="menulist"> <img src="IMG_4800.png" width="155" height="77" /></li> 
          <li class="menulist">   <a href="/myaccount">Home</a></li>
        <li class="menulist"><a href="/myaccount">My Cups</a></li>
        <li class="menulist"><a href="/home">Situation list</a></li>
        <li class="menulist">   <a href="/myaccount">Sign in</a></li>
        <li class="menulist">   <a href="/myaccount">Sign up</a></li>
</div>


<!-- 登録フォーム -->

<div class='main'>

<div class='login'>
  <div id='login-wrapper'><h4 class='userregister'>Sign up</h4></div>
     <form action="" method="post">
      <div class='form'>
      <%= f.text_field :name, :placeholder  => "ユーザーID"%>
      <%= f.text_field :email, :placeholder  => "メールアドレス"%>
      <%= f.password_field :password, :placeholder  => "パスワード"%>
    　<% end %>
      </div>
    <div class='registerbutton'><%= button_to '登録', recipes_path, :class => "button", :method => :get  %><br /></div>
    <div class='alreadyuser'><a href="/ddk">すでに会員の方はこちら！</a></div>
    </form>  
</div>

</div>