<!-- サイドバー -->
<div class="left">
  <ul class='menu-wrapper'> 
    <li class="menulist"><%= link_to image_tag("cuppylogo_font.png", :width => "155", :height => "77"), home_index_path %></li>
    <li class="menulist"><%= link_to "HOME", home_index_path %></li>
    <li class="menulist"><%= link_to "My Cups", users_path %></li>
    <li class="menulist"><%= link_to "Situation list", situations_path %></li>
    <li class="menulist"><%= link_to "Log in", signin_path %></li>
    <li class="menulist"><%= link_to "Log out", signout_path,method: :delete %></li>
  </ul>
</div>



<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>




<!-- 登録フォーム -->

<div class='main'>

<div class='login'>
  <div id='login-wrapper'><h4 class='userregister'>Sign up</h4></div>
     <!-- <form action="" method="post"> -->
      <!-- <div class='form'> -->
      <%= f.text_field :name, :placeholder  => "ユーザーID"%>
      <%= f.text_field :email, :placeholder  => "メールアドレス"%>
      <%= f.password_field :password, :placeholder  => "パスワード"%>
    
      </div>
    <div class='registerbutton'>
      <%= f.submit '登録', class: "button" %>
    </div>
    <div class='alreadyuser'><a href="/ddk">すでに会員の方はこちら！</a></div>
    <!-- </form>   -->
</div>
<% end %>

</div>