
<!-- 時間によって変わる部分 -->
<div class="right">
  <div class="situationstitle">It's Saturday Morning!</div>
  <div class="slider"> 
    <% @situations.each do |situation| %>
      <%= link_to image_tag(situation.image, :class => "photo"), situation_path(situation.id) %>
    <% end %>
  </div>

<!-- シチュエーションの大テーマリスト -->
<div id="big">
  <p>大きなテーマからシチュエーションを探す</p>
  <ul>
    <% @categories.each do |category| %>
      <li><%= link_to image_tag(category.image), category_path(category.id) %>
    <% end %>
  </ul>
</div>

<!-- 検索バー -->
<div class="searchbar">
  フリーワードで検索する
<%= search_form_for @search do |f| %>
  <%#= f.label :title_cont %>
  <%= f.text_field :title_cont, :class => "textBox" %>
    <%= f.submit '検索', :class => "btn" %>
  <% end %>
</div>

<!-- 全てのシチュエーションリストへのリンク -->     
<p class="text"><%= link_to 'シチュエーションを全部見る>', situations_path %></p> 
  </div>
</div>

<!-- サイドバー -->
<div class="left">
  <ul class='menu-wrapper'> 
    <li class="menulist"><%= link_to image_tag("cuppylogo_font.png", :width => "155", :height => "77"), home_index_path %></li>
    <li class="menulist"><%= link_to "HOME", home_index_path %></li>
    <li class="menulist"><%= link_to "My Cups", users_path %></li>
    <li class="menulist"><%= link_to "Situation list", situations_path %></li>
    <li class="menulist"><%= link_to "Log in", signin_path %></li>
    <li class="menulist"><%= link_to "Log out", signout_path,method: :delete %></li>
  </ul>
</div>

