<!-- サイドバー -->
   
      <div class="left">
        <ul class='menu-wrapper'> 
        <li class="menulist"> <img src="cuppy_logo_big.png" width="155" height="77" /></li> 
      <li class="menulist">   <a href="/myaccount">Home</a></li>
     <li class="menulist"><a href="/myaccount">My Cups</a></li>
     <li class="menulist">   <a href="/myaccount">My Follows</a></li>
     <li class="menulist"><a href="/home">Situation list</a></li>
     <li class="menulist">   <a href="/myaccount">Log in</a></li>
     <li class="menulist"><%= link_to "Log out", signout_path,method: :delete %></li>
      </div>

<%= form_for(@user_situation) do |f| %>
  <% if @user_situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_situation.errors.count, "error") %> prohibited this user_situation from being saved:</h2>

      <ul>
      <% @user_situation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :situation_id %><br>
    <%= f.number_field :situation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
