<!-- サイドバー -->
<div class="left">
  <ul class='menu-wrapper'> 
    <li class="menulist"><%= link_to image_tag("cuppylogo_font.png", :width => "155", :height => "77"), home_index_path %></li>
    <li class="menulist"><%= link_to "HOME", home_index_path %></li>
    <li class="menulist"><%= link_to "My Cups", users_path %></li>
    <li class="menulist"><%= link_to "Situation list", situations_path %></li>
    <li class="menulist"><%= link_to "Log in", signin_path %></li>
    <li class="menulist"><%= link_to "Log out", signout_path,method: :delete %></li>
  </ul>
</div>


<%= form_for(@user_situation) do |f| %>
  <% if @user_situation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_situation.errors.count, "error") %> prohibited this user_situation from being saved:</h2>

      <ul>
      <% @user_situation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :situation_id %><br>
    <%= f.number_field :situation_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
